.main-content .r-content .col-1 {
    width: 70px;
}

.main-content .r-content .col-2 {
    width: 410px;
}

.main-content .r-content .col-2 .nCj{
    max-width: 100%;
}

.main-content .r-content .col-2 img{
    height: 32px;
    vertical-align: top;
    margin-top: 3px;
}

.main-content .r-content .col-3 {
    width: 150px;
}

.main-content .r-content .col-4 {
    width: 130px;
}

.main-content .r-content .col-5 {
    width: 90px;
}

.main-content .r-content .col-6 {
    width: 100%;
}
