.main-content .r-content .col-1 {
    width: 70px;
}

.main-content .r-content .col-2 {
    width: 220px;
}

.main-content .r-content .col-3 {
    width: 200px;
}

.main-content .r-content .col-4 {
    width: 130px;
}

.main-content .r-content .col-5 {
    width: 130px;
}

.main-content .r-content .col-7 {
    width: 100%;
}