.main-content .r-content .col-1 {
    width: 150px;
}

.main-content .r-content .col-2 {
    width: 150px;
}

.main-content .r-content .col-3 {
    width: 200px;
}

.main-content .r-content .col-4 {
    width: 150px;
}

.main-content .r-content .col-5 {
    width: 130px;
}

.main-content .r-content .col-6 {
    width: 130px;
}

.main-content .r-content .col-7 {
    width: 100%;
}

div.btn-a, div.btn-b {
    -webkit-transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0.0, 0.2, 1);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    letter-spacing: .15px;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    background-image: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #5f6368;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 40px;
    margin-left: 1px;
    padding: 0 24px 0 0;
    text-transform: none;
    min-width: 88px;
    cursor: pointer;
    margin-right: 0;
    border: none;
    font-weight: 500;
    line-height: 32px;
    -webkit-user-drag: none;
    text-shadow: none;
    text-align: center;
    white-space: nowrap;
    outline: 0;
    position: relative;
}

div.btn-a::before {
    background-image: url(../images/pricing.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    content: '';
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 35px;
    margin-right: 10px;
    width: 35px;
}

div.btn-b::before {
    background-image: url(../images/add.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    content: '';
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 35px;
    margin-right: 10px;
    width: 35px;
}

.PnGFPb.deleted {
    display: none;
}

.qXIcZc .qpLcp {
    padding: 5px 0 0 5px;
}

.qpLcp {
    font-size: 24px;
    line-height: 0;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px 0 0 8px;
}

.cnTo8e.FYQzvb {
    border: 2px solid;
    position: relative;
    padding-left: 0;
}

.cnTo8e {
    -webkit-align-items: center;
    align-items: center;
    background-color: #dadce0;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    height: 28px;
    margin: 0 5px 5px 0;
    max-width: -webkit-calc(100% - 5px);
    max-width: calc(100% - 5px);
    overflow: hidden;
    padding: 0 4px 0 2px;
    cursor: pointer;
}

.cnTo9e {
    border-color: rgb(240, 147, 0) !important;
    background-color: rgb(240, 147, 0) !important;
}

.cnTo9e:hover {
    background-color: rgb(23, 162, 184) !important;
}

.cnTo7e {
    border-color: rgb(23, 162, 184) !important;
    background-color: rgb(3, 169, 244) !important;
}

.cnTo7e:hover {
    background-color: rgb(126, 220, 148) !important;
}

.width-230 {
    min-width: 230px;
}

.min-width-100 {
    min-width: 100px;
}

.cnTo8e.FYQzvb::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .92);
}

.Hbkijd {
    overflow: hidden;
}

.nO3x3e {
    padding-right: 0;
}

.YaPvld {
    min-height: 0;
}

.kMp0We {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    min-height: 40px;
    padding-right: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-align-items: center;
    align-items: center;
    outline: none;
}

.OLw7vb {
    width: 48px;
    padding-left: 16px;
    max-height: 40px;
    -webkit-box-flex: 0;
    box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-align-items: center;
    align-items: center;
}

.cSfOjc {
    width: 30px;
    padding-left: 0;
    margin-left: 1px;
}

.nGJqzd {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    max-height: 56px;
    -webkit-align-self: stretch;
    align-self: stretch;
}

.T6JWhd {
    position: relative;
}

.EzBbpc {
    color: #80868b;
    fill: #80868b;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.EzBbpc, .jPtXgd {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.jPtXgd img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.jPtXgd img[src=""] {
    display: none;
}

.pXxjhe {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    color: #5f6368;
    font-size: 12px;
    font-weight: 500;
    overflow: hidden;
}

.YnkeVe {
    font-size: 14px;
    line-height: 24px;
    padding: 4px 0;
}

.NI2kfb {
    color: #3c4043;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding-bottom: 6px;
    padding-top: 6px;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.NI2kox {
    color: #3c4043;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding-bottom: 6px;
    padding-top: 6px;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
}

.Lt0sAf {
    -webkit-user-select: all;
}

.ynRLnc {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.RpN9Ve {
    display: inline-block;
    margin-left: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    color: #70757a;
    height: 16px;
    width: 16px;
    font-size: 16px;
    position: relative;
}

.Gk2rXd {
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
}