#calendar-container {
    height: calc(100% - 75px);
    width: 100%;
}

.fc-header-toolbar {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.my-event {
    border: unset;
}

.my-event i.fa-circle {
    margin-right: 3px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: white;
}

.my-event:hover {
    background-color: #EEEEEE;
}

.my-event:hover span {
    color: #007bff !important;
}

.dp-permanent {
    width: 230px !important;
    margin-left: 10px;
}

.datepicker {
    z-index: 1151 !important;
}

.datepicker-inline .datepicker {
    width: 230px !important;
    margin-left: 10px;
}

.tag {
    width: 230px;
    margin-left: 10px;
    margin-top: 10px;
}

.tag .tag-show .fa-angle-up {
    display: block;
}

.tag .tag-show .fa-angle-down {
    display: none;
}

.tag .tag-hide .fa-angle-up {
    display: none;
}

.tag .tag-hide .fa-angle-down {
    display: block;
}

.tag-body table tr {
    line-height: 1px;
}

.event-pic .dropdown-menu {
    width: 250px;
}

.event-pic .dropdown-menu .dropdown-item i {
    display: none;
}

.event-pic .dropdown-menu .dropdown-item .assigned i {
    display: inline-flex;
}