.main-content .r-content .col-1 {
    width: 100px;
}

.main-content .r-content .col-2 {
    width: 150px;
}

.main-content .r-content .col-3 {
    width: 150px;
}

.main-content .r-content .col-4 {
    width: 110px;
}

.main-content .r-content .col-5 {
    width: 150px;
}

.main-content .r-content .col-6 {
    width: 100%;
}