.main-content .r-content .col-1 {
    width: 100px;
}

.main-content .r-content .col-2 {
    width: 100%;
}

#nicescroll-iput {
    margin-top: 15px;
}

#nicescroll-iput .control {
    padding: .2em .6em .3em;
}

#nicescroll-iput .label {
    color: #605959;
}