.main-content .r-content .col-1 {
    width: 100px;
}

.main-content .r-content .col-2 {
    width: 200px;
}

.main-content .r-content .col-3 {
    width: 200px;
}

.main-content .r-content .col-4 {
    width: 110px;
}

.main-content .r-content .col-5 {
    width: 200px;
}

.main-content .r-content .col-6 {
    width: 250px;
}

#nicescroll-iput {
    margin-top: 15px;
}

#nicescroll-iput .control {
    padding: .2em .6em .3em;
}

#nicescroll-iput .label {
    color: #605959;
}

.textfield {
	margin: 0 0 15px 0;
	max-width: 300px;
}

.root_textfield.rootIsUnderlined {
	border: 0px solid #a6a6a6;
}

.root_textfield.rootIsUnderlined .wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: inherit;
	width: 100%;
}

.root_textfield.rootIsUnderlined .ms-Label {
	font-size: 14px;
	line-height: 22px;
	height: 32px;
}

.root-56 {
	color: rgb(51, 51, 51);
	box-sizing: border-box;
	box-shadow: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.root_textfield.rootIsUnderlined .fieldGroup {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0px;
	border-width: 0;
}

.fieldGroup {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
	border: 1px solid #a6a6a6;
	background: #ffffff;
	height: 32px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	position: relative;
}

.input_field {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	border-radius: 0;
	border: none;
	background: none;
	background-color: transparent;
	color: #333333;
	padding: 0 12px 0 12px;
	width: 100%;
	min-width: 0;
	text-overflow: ellipsis;
	outline: 0;
}